#header {
    background: #1a1c1d;
    color: #ffffff;
}

#branding-h1{
    color: #ffffff;
}

#div.breadcrumbs {
    background: #727272;
    color: #ffffff;
}

.login.submit_row {
    padding: 0px !important;
}

input[type="submit"],
input[type="button"],
.submit_row input {
    width: 100%;
    background: #727272;
}

.module h2, .module caption, .inline-group h2 {
  background: #727272;
}